<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>ADM - Músicas</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">  
    
    <!-- Extra CSS -->
    <link href="{{ url_for('static', filename='stylesheets/toggle-switch.css') }}" rel="stylesheet">  
    <link href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/solid.css') }}" rel="stylesheet">

    <style>
      .rect {
        min-height:20px;
        padding:19px;
        margin-bottom:20px;
        background-color:#fbfbfb;
        border:1px solid #999;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
      }

      .box {
        padding:10px;
        background-color:#b2d6ff;
        padding-bottom: 20px;
      }

      .blue {
        background-color:#b2d6ff;
      }   

      .yellow {
        background-color:#fffed8;
      }   

      .pink {
        background-color:#ffe9ff;
      }

      .blood {
        color:#800000;
      }

       #lista_geral a.toggled { display: none; }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">

    {% if msg != "0" %}

    <div class="modal fade" id="form_moderate_coments" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Moderação de Comentários</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table" id="tabela-comentarios">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Usuário</th>
                            <th scope="col">Data</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Comentário</th>
                            <th scope="col">Ação</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="window-link-files" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Relacionar arquivos abaixo:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <label for="arquivo_diretorio" class="form-label fw-bold">Arquivos do diretório</label>
                    <select id="arquivo_diretorio" id="arquivo_diretorio" class="form-select" aria-label="Default select example" required>
                    {% for item in novos_arquivos %}
                        <option value="{{item}}">{{item}}</option>
                    {% endfor %}
                    </select>  
                </div>
                <div class="col-sm-6">
                    <label for="arquivo_banco" class="form-label fw-bold">Arquivos do banco</label>
                    <select id="arquivo_banco" id="arquivo_banco" class="form-select" aria-label="Default select example" required>
                    {% for item in arquivos_faltando %}
                        <option value="{{item['id']}}">{{item['nome_arquivo']}}</option>
                    {% endfor %}
                    </select>  
                </div>                
            </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btn-confirm-change" class="btn btn-success">Confirmar Alteração</button>
            </div>
            </div>
        </div>
    </div>    

    <div class="modal fade" id="form_delete_db" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atenção!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja deletar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button id="btn-confirm-delete" type="button" class="btn btn-danger">Sim</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="form_add_db" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Arquivo ao Banco</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form_add_arquivo" action="{{ url_for('acessarAreaADM') }}", method="post">
            <input type="hidden" name="senha" value = "120393"/>
            <input type="hidden" id="nome_arquivo" name="nome_arquivo" value = ""/>
            <div class="modal-body">
              <div id="titulo_musica_addcoment" class="title" data-id="0"></div><br>
                <div><span class="fw-bold">Título: </span><span id="titulo_arquivo"></span></div>
                <div>&nbsp;</div>

                <div class="row box blue">
                    <div class="col-sm-8">
                        <div class="fw-bold">Vínculo 1 (Obrigatório):</div>
                        <select class="form-select" aria-label="Default select example" name="vinc1" required>
                            {% for item in categoria %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="fw-bold">Status 1:</div>
                        <select class="form-select" aria-label="Default select example" name="status1" required>
                            {% for item in status %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>                    
                    </div>

                    <div class="col-sm-12">
                        <div class="fw-bold">Descrição:</div>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="desc1" class="form-control" id="desc_vinc1" rows="2" placeholder="Digite a descrição:" maxlength="200" required></textarea>
                    </div>
                </div>

                <hr>

                <div class="row box yellow">

                    <div class="col-sm-8">
                        <div class="fw-bold">Vínculo 2:</div>
                        <select id="add_vinc2" class="form-select vincopt" name="vinc2" aria-label="Default select example">
                            <option value="0">-</option>
                            {% for item in categoria %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="fw-bold">Status 2:</div>
                        <select class="form-select form-vinc2" aria-label="Default select example" name="status2" disabled>
                            {% for item in status %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>                    
                    </div>
                    <div class="col-sm-12">
                        <div class="fw-bold">Descrição:</div>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="desc2" class="form-control form-vinc2" id="desc_vinc2" rows="2" placeholder="Digite a descrição:" maxlength="200" disabled required></textarea>
                    </div>                    

                </div>      

                <hr>

                <div class="row box pink">

                    <div class="col-sm-8">
                        <div class="fw-bold">Vínculo 3:</div>
                        <select id="add_vinc3" class="form-select vincopt" name="vinc3" aria-label="Default select example" disabled>
                            <option value="0">-</option>
                            {% for item in categoria %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="fw-bold">Status 3:</div>
                        <select name="status3" class="form-select form-vinc3" aria-label="Default select example" disabled>
                            {% for item in status %}
                                <option value="{{item['id']}}">{{item['descricao']}}</option>
                            {% endfor %}
                        </select>                    
                    </div>
                    <div class="col-sm-12">
                        <div class="fw-bold">Descrição:</div>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="desc3" class="form-control form-vinc3" id="desc_vinc3" rows="2" placeholder="Digite a descrição:" maxlength="200" disabled required></textarea>
                    </div>                    

                </div>                           

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
            <div class="erro_coment"></div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/Logo ADCPTA.png') }}" width="25" height="30" class="d-inline-block align-top" alt="">
            Roteiro
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                <a class="nav-link" href="../abrirbiblia">Abrir Bíblia</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="../abrirharpa">Abrir Harpa</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page"  href="../abrirslidemusica">Músicas</a>
                </li>    
                <li class="nav-item">
                <a class="nav-link" href="../apresentador">Apresentador</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../viewer">Visualizador</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../obs">OBS</a>
                </li>   
                <li class="nav-item">
                <a class="nav-link" href="../eventos">Eventos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../download_mp3">YouTube - MP3</a>
                </li>         
                <li class="nav-item">
                <a class="nav-link" href="../sobre">Sobre</a>
                </li>                        
            </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {% if msg == "0" %}
        <div class="row"><div class="col-sm-12">{{erro|safe}}</div></div>
        <div class="row rect">
            <h1 class="blood">Área do Administrador</h1>
            <p>Atenção! Essa área é apenas para o Administrador modificar o banco de dados das músicas, se você entrou aqui por acidente por favor <a href="{{ url_for('abrirNewMusica') }}">clique aqui para voltar.</a></p>
            <div class="col-sm-4">
                <form id="form_login" action="{{ url_for('acessarAreaADM') }}", method="post">
                <label for="senha" class="form-label">Digite a senha:</label>
                <input type="password" class="form-control numeric" id="senha" name="senha" placeholder="" value=""/>
            </div>
            <div class="col-sm-8 align-self-end">
                <input class="btn btn-primary" type="submit" value="Enviar" />
                </form>
            </div>
        </div>
        {% else %}
        <!-- aqui é o código quando o login for efetuado -->
        <h1 class="blood">Área do Administrador</h1>
            {% if novos_arquivos|length > 0 or arquivos_faltando|length > 0 %}
            <div class="row rect">
                <div class="col-sm-12"><h4>Controle de inconsistências</h4></div>
                {% if novos_arquivos|length > 0 %}
                <div class="col-sm-4">
                    <p>Arquivos Ausentes no Banco</p>
                    <div id="lista_geral_ausentes_db" class="list-group">
                        {% for item in novos_arquivos %}
                            <a href="#" class="list-group-item list-group-item-action list1">{{item}}</a>
                        {% endfor %}
                        <div>&nbsp;</div>
                        <button id="add_db" class="btn btn-primary" disabled>Adicionar ao Banco</button>
                    </div>
                </div>
                {% endif %}

                {% if arquivos_faltando|length > 0 %}
                <div class="col-sm-4">
                    <p>Arquivos Ausentes no Diretório</p>
                    <form id="formExcluir" action="{{ url_for('acessarAreaADM') }}", method="post">
                        <input type="hidden" name="senha" value = "120393"/>
                        <input type="hidden" id="id_arquivo_delete" name="id_arquivo_delete" value = ""/>                
                    </form>
                    <div id="lista_geral_ausentes_dir" class="list-group">
                        {% for item in arquivos_faltando %}
                            <a href="#" class="list-group-item list-group-item-action list2" data-id="{{item['id']}}">{{item['nome_arquivo']}}</a>
                        {% endfor %}
                        <div>&nbsp;</div>
                        <button id="delete_db" class="btn btn-danger" disabled>Deletar do Banco</button>
                    </div>
                </div>
                {% endif %}

                {% if arquivos_faltando|length == novos_arquivos|length and arquivos_faltando|length > 0 %}
                <div class="col-sm-4 align-self-end">
                    <p>Atenção! O número de arquivos ausentes no banco e no diretório são iguais, isso quer dizer que talvez um arquivo tenha sido renomeado.</p>
                    <button id="btn-relacionar-arquivos" class="btn btn-success">Relacionar arquivos</button>
                    <form id="formRenomear" action="{{ url_for('acessarAreaADM') }}", method="post">
                        <input type="hidden" name="senha" value = "120393"/>
                        <input type="hidden" id="id_arquivo_origem" name="id_arquivo_origem" value = ""/>                      
                        <input type="hidden" id="novo_nome" name="novo_nome" value = ""/> 
                    </form>
                </div>
                {% endif %}

            </div>        
            {% endif %}

            <div class="row rect">
                <div class="col-sm-6">
                    <h2>Lista Geral</h2>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="pesquisa" placeholder="name@example.com">
                        <label for="pesquisa">Pesquisa</label>
                    </div>

                    <div>&nbsp;</div>

                    <div id="lista_geral" class="list-group">
                    {% for item in list_db %}
                        <a href="#" class="list-group-item list-group-item-action ls-principal" data-id="{{item['id']}}">
                        {{item['nome_arquivo'][:-5]}}
                        </a>
                    {% endfor %}
                    </div>
                </div>       
                <div class="col-sm-6">
                    <h2>Dados:</h2>
                    <label for="txt_nome_arquivo" class="form-label fw-bold">Nome do Arquivo:</label>
                    <input type="text" class="form-control" id="txt_nome_arquivo" name="txt_nome_arquivo" placeholder="" value="" disabled required />

                    <hr>
                    <input type="hidden" id="hidden_id" value="0" />
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="cbVinculo1" class="form-label fw-bold">Vínculo 1:</label>
                            <select id="cbVinculo1" class="form-select" aria-label="Default select example" name="cbVinculo1" disabled required>
                                {% for item in categoria %}
                                    <option value="{{item['id']}}">{{item['descricao']}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="cbStatus1" class="form-label fw-bold">Status 1:</label>
                            <select class="form-select" id="cbStatus1" aria-label="Default select example" name="cbStatus1" disabled required>
                                {% for item in status %}
                                    <option value="{{item['id']}}">{{item['descricao']}}</option>
                                {% endfor %}
                            </select>                     
                        </div>

                        <div class="col-sm-12">
                            <label for="txtDesc1" class="fw-bold">Descrição 1:</label>
                            <textarea name="txtDesc1" class="form-control" id="txtDesc1" rows="4" placeholder="Digite a descrição:" maxlength="200" disabled required></textarea>
                        </div>
                    </div>

                    <hr>

                   <div class="row">
                        <div class="col-sm-6">
                            <label for="cbVinculo2" class="form-label fw-bold">Vínculo 2:</label>
                            <select id="cbVinculo2" class="form-select vincoptedit" aria-label="Default select example" name="cbVinculo2" disabled required>
                                <option value="0">-</option>
                                {% for item in categoria %}
                                    <option value="{{item['id']}}">{{item['descricao']}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="cbStatus2" class="form-label fw-bold">Status 2:</label>
                            <select class="form-select" id="cbStatus2" aria-label="Default select example" name="cbStatus2" disabled required>
                                {% for item in status %}
                                    <option value="{{item['id']}}">{{item['descricao']}}</option>
                                {% endfor %}
                            </select>                     
                        </div>

                        <div class="col-sm-12">
                            <label for="txtDesc2" class="fw-bold">Descrição 2:</label>
                            <textarea name="txtDesc2" class="form-control" id="txtDesc2" rows="4" placeholder="Digite a descrição:" maxlength="200" disabled required></textarea>
                        </div>
                    </div>                    

                    <hr>                     
                    
                   <div class="row">
                        <div class="col-sm-6">
                            <label for="cbVinculo3" class="form-label fw-bold">Vínculo 3:</label>
                            <select id="cbVinculo3" class="form-select vincoptedit" aria-label="Default select example" name="cbVinculo3" disabled required>
                                <option value="0">-</option>
                                {% for item in categoria %}
                                    <option value="{{item['id']}}">{{item['descricao']}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="cbStatus3" class="form-label fw-bold">Status 3:</label>
                            <select class="form-select" id="cbStatus3" aria-label="Default select example" name="cbStatus3" disabled required>
                                {% for item in status %}
                                    <option value="{{item['id']}}">{{item['descricao']}}</option>
                                {% endfor %}
                            </select>                     
                        </div>

                        <div class="col-sm-12">
                            <label for="txtDesc3" class="fw-bold">Descrição 3:</label>
                            <textarea name="txtDesc3" class="form-control" id="txtDesc3" rows="4" placeholder="Digite a descrição:" maxlength="200" disabled required></textarea>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                        <div class="col-sm-12">
                            <button id="btn_salvar_alteracoes" class="btn btn-primary" disabled>Salvar Alterações</button>
                            <button id="btn_abrir_comentarios" class="btn btn-warning" disabled>Abrir Comentários</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">&nbsp;</div>
                        <div id="feedback" class="col-sm-12"></div>
                    </div>

                </div>                      
            </div>

        {% endif %}
    </main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% if msg != "0" %}
    <script>

        if ( window.history.replaceState ) {
            window.history.replaceState(null, null, window.location.href);
        }

        $(document).on('click', '.button-delete-coment', function(e) {
            dict = {};
            dict['user'] = $(this).attr('data-user');
            dict['data'] = $(this).attr('data-fulldate');

            var element = $(this).parent().parent();

            $.ajax({
                type: "POST",
                url: "{{ url_for('deleteComent') }}",
                contentType: "application/json",
                data: JSON.stringify(dict),
                dataType: "json",
                success: function(response) {
                    if (response) {
                        element.remove();
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });             
        });

        $("#btn_abrir_comentarios").on('click', function(e) {
            // primeiro irei consultar a lista de comentários por ordem decrescente
            var id = $("#hidden_id").val();
                $.ajax({
                type: "POST",
                url: "{{ url_for('getAllComents') }}",
                contentType: "application/json",
                data: JSON.stringify(id),
                dataType: "json",
                success: function(response) {
                    $("#tabela-comentarios tbody").empty();
                    for (var item in response) {
                        $("#tabela-comentarios tbody").append('<tr><th scope="row">' + response[item]['user'] + '</th><td>' + response[item]['dia'] + '</td><td>' + response[item]['hora'] + '</td><td>' + response[item]['comentario'] +'</td><td><button data-user="' + response[item]['user'] + '" data-fulldate="' + response[item]['data'] + '" class="btn button-delete-coment"><i class="fa-solid fa-trash"></i></button></td></tr>');
                    }
                    //tabela-comentarios
                    $("#form_moderate_coments").modal('show');

                },
                error: function(err) {
                    console.log(err);
                }
            });             
        });

        $('#pesquisa').on('keyup', function (e) {
            var value = $(this).val().toLowerCase();
            $(".ls-principal").toggleClass('toggled', true);
            $(".ls-principal").filter(function() {
                if ($(this).text().toLowerCase().indexOf(value) > -1) {
                $(this).removeClass('toggled');
                }
                //console.log($(this).find("label").find("input").data("pasta"))
            });
        });

        $("#btn_salvar_alteracoes").on('click', function(e) {
            var dict = {};

            dict['id'] = $("#hidden_id").val();
            dict['nome_arquivo'] = "'" + $("#txt_nome_arquivo").val() + "'";

            dict['vinculo_1'] = $("#cbVinculo1").val();
            dict['status_1'] = $("#cbStatus1").val();
            dict['desc_1'] = "'" + $("#txtDesc1").val() + "'";

            if ($("#cbVinculo2").val() != 0) {
                dict['vinculo_2'] = $("#cbVinculo2").val();
                dict['status_2'] = $("#cbStatus2").val();
                dict['desc_2'] = "'" + $("#txtDesc2").val() + "'";
            } else {
                dict['vinculo_2'] = 'null';
                dict['status_2'] = 'null';
                dict['desc_2'] = 'null';               
            }

            if ($("#cbVinculo3").val() != 0) {
                dict['vinculo_3'] = $("#cbVinculo3").val();
                dict['status_3'] = $("#cbStatus3").val();
                dict['desc_3'] = "'" + $("#txtDesc3").val() + "'";
            } else {
                dict['vinculo_3'] = 'null';
                dict['status_3'] = 'null';
                dict['desc_3'] = 'null';               
            }            

              $.ajax({
                type: "POST",
                url: "{{ url_for('editMusic') }}",
                contentType: "application/json",
                data: JSON.stringify(dict),
                dataType: "json",
                success: function(response) {
                  $("#feedback").append(response);
                  if ($("#alert-feedback").attr('class').indexOf('alert-success') > -1) {
                    console.log($('.ls-principal .active').text());
                    $('.ls-principal.active').text($("#txt_nome_arquivo").val().slice(0, -5));
                  }
                },
                error: function(err) {
                  console.log(err);
                }
              });
        });

        $('.vincoptedit').on('change', function (e) {
            value = $(this).val();
            number = $(this).attr('id').slice(-1);

            if (value != 0) {
                $('#cbStatus' + number).removeAttr('disabled');
                $('#txtDesc' + number).removeAttr('disabled');
            } else {
                $('#cbStatus' + number).val('1');
                $('#cbStatus' + number).attr('disabled', '');
                $('#txtDesc' + number).val('');
                $('#txtDesc' + number).attr('disabled', '');
            }
            
        });

        $(".ls-principal").on('click', function (e) {
            $(".ls-principal").removeClass('active');
            $("#btn_salvar_alteracoes").removeAttr('disabled');
            $("#btn_abrir_comentarios").removeAttr('disabled');

            $(this).addClass('active');

            var id = $(this).attr('data-id');
            $('#hidden_id').val(id);

            $.ajax({
                type: "POST",
                url: "{{ url_for('getInfoMusicaBruto') }}",
                contentType: "application/json",
                data: JSON.stringify(id),
                dataType: "json",
                success: function(response) {
                    //console.log(response);
                    $("#txt_nome_arquivo").val(response[1]);
                    $("#txt_nome_arquivo").removeAttr("disabled", "");

                    $("#cbVinculo1").val(response[2]);
                    $("#cbVinculo1").removeAttr("disabled");

                    $("#cbStatus1").val(response[3]);
                    $("#cbStatus1").removeAttr("disabled");

                    $("#txtDesc1").val(response[4]);
                    $("#txtDesc1").removeAttr("disabled");

                    if (response[5] != null) {
                        $("#cbVinculo2").val(response[5]);
                        $("#cbVinculo2").removeAttr("disabled");

                        $("#cbStatus2").val(response[6]);
                        $("#cbStatus2").removeAttr("disabled");

                        $("#txtDesc2").val(response[7]);
                        $("#txtDesc2").removeAttr("disabled");
                    } else {
                        $("#cbVinculo2").val(0);
                        $("#cbVinculo2").removeAttr("disabled");
                        $("#cbStatus2").val(1);
                        $("#cbStatus2").attr("disabled", "");                        
                        $("#txtDesc2").val("");
                        $("#txtDesc2").attr("disabled", "");
                    }

                    if (response[8] != null) {
                        $("#cbVinculo3").val(response[8]);
                        $("#cbVinculo3").removeAttr("disabled");

                        $("#cbStatus3").val(response[9]);
                        $("#cbStatus3").removeAttr("disabled");

                        $("#txtDesc3").val(response[10]);
                        $("#txtDesc3").removeAttr("disabled");
                    } else {
                        $("#cbVinculo3").val(0);
                        $("#cbVinculo3").removeAttr("disabled");
                        $("#cbStatus3").val(1);
                        $("#cbStatus3").attr("disabled", "");                        
                        $("#txtDesc3").val("");
                        $("#txtDesc3").attr("disabled", "");
                    }                    
                },
                error: function(err) {
                  console.log(err);
                }           
            });
        });

        $("#btn-confirm-change").on('click', function (e) {
            $("#id_arquivo_origem").val($("#arquivo_banco").val());
            $("#novo_nome").val($("#arquivo_diretorio").val());
            $("#formRenomear").submit();
        });

        $("#btn-relacionar-arquivos").on('click', function (e) {
            $("#window-link-files").modal('show');
        });

        $("#btn-confirm-delete").on('click', function(e) {
            $("#formExcluir").submit();
        });

        $("#delete_db").on('click', function(e) {
            $("#form_delete_db").modal('show');
        });

        $('.vincopt').on('change', function (e) {
            value = $(this).val();
            number = $(this).attr('id').slice(-1);
            
            if ($(this).attr('id') == "add_vinc2" && value != 0) {
                $("#add_vinc3").removeAttr('disabled');
            } else if($(this).attr('id') == "add_vinc2" && value == 0) {
                $("#add_vinc3").attr('disabled', '');
                $("#desc_vinc3").val("");
                $("#add_vinc3").val("0");
                $('.form-vinc3').attr('disabled', '');                
            }

            if (value != 0) {
                $('.form-vinc' + number).removeAttr('disabled');
            } else {
                $("#desc_vinc" + number).val("");
                $('.form-vinc' + number).attr('disabled', '');
            }
            
        });

        $('.list1').on('click', function (e) {
            $('.list1').removeClass('active');
            $(this).addClass('active');
            $("#add_db").removeAttr('disabled');
            $("#titulo_arquivo").text($(this).text());
            $("#nome_arquivo").val($(this).text());

            $('.list2').removeClass('active');
            $("#delete_db").attr('disabled', '');
        });

        $('.list2').on('click', function (e) {
            $('.list2').removeClass('active');
            $(this).addClass('active');
            $("#delete_db").removeAttr('disabled');
            $("#id_arquivo_delete").val(($(this).attr('data-id')));
            $('.list1').removeClass('active');
            $("#add_db").attr('disabled', '');
        });        

        $("#add_db").on('click', function(e) {
            $('#form_add_db').modal('show');
        });

    </script>
    {% endif %}
</body>