<html>
    <head>
        <title>Calendário 2022</title>
    </head>
    <style>
        .img {
            height: 100%;
            width: 100%;
            animation-name: fade-in;
            animation-duration: 0.5s;
            overflow: hidden;
        }

        .out {
            animation-name: fade-out;
            animation-duration: 0.5s;
            opacity: 0;
        }   

        @keyframes fade-in {
            from {opacity: 0;}
            to {opacity: 1;}
        }   

        @keyframes fade-out {
            from {opacity: 1;}
            to {opacity: 0;}
        }      

    </style>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <body>
        {% if resultado == True %}
        <div id="slide" class="img" style="background:#fff url(/static/images/Calendar/Slide{{index}}.jpg) no-repeat center; background-size: 100% 100%;"></div>
        {% else %}
        <div id="slide" class="img" style="background:#fff url({{ url_for('static', filename='images/Background.jpg') }}) no-repeat center; background-size: 100% 100%;"></div>
        {% endif %}

        <script>

            var socket = io();
            //var index = JSON.parse('{{index|tojson}}');

            socket.on('calendar', function(info) {
                
                if (info['update']) {
                    location.reload();
                } else {
                    $('#slide').attr('style', "background:#fff url(/static/images/Calendar/Slide" + info['index'] + ".jpg) no-repeat center; background-size: 100% 100%;");
                }

            });

           socket.on('legenda', function(legenda) {
                
                $('#slide').attr('style', "background:#fff url(/static/images/Background.jpg) no-repeat center; background-size: 100% 100%;");

            });

        </script>
    </body>
</html>