<html>
    <head>
        <title>Calendário 2022</title>
    </head>

    <style>
        body {
            text-align: center;
        }
         
        h1 {
            color: green;
        }
         
        img {
            position: absolute;
            left: 400px;
        }
    </style>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <body>

        <div id="scroll-image">
            {% for i in range(qtdSlides + 1) %}
                <img src="/static/images/Calendar/Slide{{i}}.jpg" class="test" style="opacity: 0;" />
            {% endfor %}
        </div>        

        <!-- <div id="slide" class="img" style="background:#fff url(/static/images/Calendar/Slide{{index}}.jpg) no-repeat center; background-size: 100% 100%;"></div> -->

        <script>

            var socket = io();
            var cur = JSON.parse('{{index|tojson}}');
            var images = document.getElementsByClassName("test");
            var aux = -1;
            var topo = 1;

            images[cur].style.opacity = 1;         

            socket.on('calendar', function(info) {
                
                //console.log(info);
                if (info['update']) {
                    location.reload();
                } else {
                    if (cur != info['index']) {
                        //console.log(topo);
                        images[cur].style.zIndex = topo;
                        aux = cur;
                        cur = info['index'];
                        images[cur].style.opacity = 1;
                        transition();
                        topo += 1;
                    }
                }

                function transition() {
                    return new Promise(function(resolve, reject) {
                        var del = 0.01;
                        var id = setInterval(changeOpacity, 10);

                        function changeOpacity() {
                            images[aux].style.opacity -= del;
                            if (images[aux].style.opacity <= 0) {
                                clearInterval(id);
                                resolve();
                            }                            
                        }
                    })
                }

            });

           /*socket.on('legenda', function(legenda) {
                
                $('#slide').attr('style', "background:#fff url(/static/images/Background.jpg) no-repeat center; background-size: 100% 100%;");

            });*/

        </script>
    </body>
</html>