<html>
    <head>
        <title>Calendário 2022</title>
    </head>
    <style>
        .slide {
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
    </style>
    <body>
        <img class="slide" src="{{ url_for('video_feed') }}">
    </body>
</html>