<html>
    <head>
        <title>Por favor aguarde...</title>
        <style>
            .titulo {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
            }
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <h1 class="titulo">{{msg}}</h1>
        <img class="center" src="../static/images/loading.gif" class="d-inline-block align-top" alt="">
    </body>
</html>