<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Estatísticas</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/tui-pagination.css') }}" rel="stylesheet">

    <style>
      .title {
        text-align: center;
        color: red;
      }

      .Suces {
        color: blue;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/Logo ADCPTA.png') }}" width="25" height="30" class="d-inline-block align-top" alt="">
      Roteiro
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="../abrirbiblia">Abrir Bíblia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../abrirharpa">Abrir Harpa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  href="../abrirslidemusica">Músicas</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="../apresentador">Apresentador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../viewer">Visualizador</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="../obs">OBS</a>
        </li>           
        <li class="nav-item">
          <a class="nav-link active" href="#">Eventos</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="../download_mp3">YouTube - MP3</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="../sobre">Sobre</a>
        </li>        
      </ul>                 
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">TOP 10 - Slides mais utilizados</h1>
      </div>
      <div class="col-sm-2">
        <label for="cb_ano" class="form-label">Filtrar por ano específico:</label>
        <select class="form-select" id="cb_ano" name="cb_ano" onchange="alterarAno()">
            <option>Geral</option>
            {% for lista in anos %}
                <option>{{lista['ano']}}</option>
            {% endfor %}
        </select>      
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="fs-2">Harpa:</p>
        <canvas id="harpa" width="600" height="400"></canvas>  
      </div>
      <div class="col-sm-4">
        <p class="fs-2">Músicas:</p>
        <canvas id="musica" width="600" height="400"></canvas>  
      </div>
      <div class="col-sm-4">
        <p class="fs-2">Bíblia:</p>
        <canvas id="biblia" width="600" height="400"></canvas>  
      </div>                  
      <div class="col-sm-12">
        <br>
        <button id="retornar" type="button" class="btn btn-secondary">Retornar</button>
      </div>
    </div>
</main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script type="text/javascript">

    const harpa = {{harpa}};
    const biblia = {{biblia}};
    const musica = {{musica}};

    labels_grap = [];
    data_grap = [];

    for (var i = 0; i < harpa.length; i++) {
      labels_grap.push(harpa[i]['Nome']);
      data_grap.push(harpa[i]['total']);
    }

    const ctx_harpa = document.getElementById('harpa').getContext('2d');
    const myChart_harpa = new Chart(ctx_harpa, {
        type: 'bar',
        data: {
            labels: labels_grap,
            datasets: [{
                label: 'teste',
                data: data_grap,
                backgroundColor: [
                    //'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'//,
                    //'rgba(255, 206, 86, 0.2)',
                    //'rgba(75, 192, 192, 0.2)',
                    //'rgba(153, 102, 255, 0.2)',
                    //'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    //'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'//,
                    //'rgba(255, 206, 86, 1)',
                    //'rgba(75, 192, 192, 1)',
                    //'rgba(153, 102, 255, 1)',
                    //'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            //responsive: false, 
            //maintainAspectRatio: false,
            plugins: {
              legend: false,
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    labels_grap = [];
    data_grap = [];

    for (var i = 0; i < biblia.length; i++) {
      labels_grap.push(biblia[i]['Nome']);
      data_grap.push(biblia[i]['total']);
    }

    const ctx_biblia = document.getElementById('biblia').getContext('2d');
    const myChart_biblia = new Chart(ctx_biblia, {
        type: 'bar',
        data: {
            labels: labels_grap,
            datasets: [{
                label: 'teste',
                data: data_grap,
                backgroundColor: [
                    //'rgba(255, 99, 132, 0.2)',
                    //'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'//,
                    //'rgba(75, 192, 192, 0.2)',
                    //'rgba(153, 102, 255, 0.2)',
                    //'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    //'rgba(255, 99, 132, 1)',
                    //'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'//,
                    //'rgba(75, 192, 192, 1)',
                    //'rgba(153, 102, 255, 1)',
                    //'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            //responsive: false, 
            //maintainAspectRatio: false,
            plugins: {
              legend: false,
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    labels_grap = [];
    data_grap = [];

    for (var i = 0; i < musica.length; i++) {
      labels_grap.push(musica[i]['Nome']);
      data_grap.push(musica[i]['total']);
    }

    const ctx_musica = document.getElementById('musica').getContext('2d');
    const myChart_musica = new Chart(ctx_musica, {
        type: 'bar',
        data: {
            labels: labels_grap,
            datasets: [{
                label: 'teste',
                data: data_grap,
                backgroundColor: [
                    //'rgba(255, 99, 132, 0.2)',
                    //'rgba(54, 162, 235, 0.2)',
                    //'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'//,
                    //'rgba(153, 102, 255, 0.2)',
                    //'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    //'rgba(255, 99, 132, 1)',
                    //'rgba(54, 162, 235, 1)',
                    //'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'//,
                    //'rgba(153, 102, 255, 1)',
                    //'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            //responsive: false, 
            //maintainAspectRatio: false,
            plugins: {
              legend: false,
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    $("#retornar").click(function() {
      location.href = "../eventos"
    });
    </script>
  </body>
</html>
