<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Estatísticas</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/tui-pagination.css') }}" rel="stylesheet">

    <style>
      .title {
        text-align: center;
        color: red;
      }

      .Suces {
        color: blue;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    {% include 'font-awesome.html' %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">

  {% include 'menu.html' %}

<main class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">TOP 10 - Slides mais utilizados</h1>
      </div>
      <div class="col-sm-2">
        <label for="cb_ano" class="form-label">Filtrar por ano específico:</label>
        <select class="form-select" id="cb_ano" name="cb_ano" onchange="alterarAno()">
            <option>Geral</option>
            {% for lista in anos %}
                <option>{{lista['ano']}}</option>
            {% endfor %}
        </select>      
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="fs-2">Harpa:</p>
        <canvas id="harpa" width="600" height="400"></canvas>  
      </div>
      <div class="col-sm-4">
        <p class="fs-2">Músicas:</p>
        <canvas id="musica" width="600" height="400"></canvas>  
      </div>
      <div class="col-sm-4">
        <p class="fs-2">Bíblia:</p>
        <canvas id="biblia" width="600" height="400"></canvas>  
      </div>                  
      <div class="col-sm-12">
        <br>
        <button id="retornar" type="button" class="btn btn-secondary">Retornar</button>
      </div>
    </div>
</main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script type="text/javascript">

    const harpa = {{harpa}};
    const biblia = {{biblia}};
    const musica = {{musica}};

    labels_grap = [];
    data_grap = [];

    for (var i = 0; i < harpa.length; i++) {
      labels_grap.push(harpa[i]['Nome']);
      data_grap.push(harpa[i]['total']);
    }

    const ctx_harpa = document.getElementById('harpa').getContext('2d');
    const myChart_harpa = new Chart(ctx_harpa, {
        type: 'bar',
        data: {
            labels: labels_grap,
            datasets: [{
                label: 'Quantidade',
                data: data_grap,
                backgroundColor: [
                    //'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'//,
                    //'rgba(255, 206, 86, 0.2)',
                    //'rgba(75, 192, 192, 0.2)',
                    //'rgba(153, 102, 255, 0.2)',
                    //'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    //'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'//,
                    //'rgba(255, 206, 86, 1)',
                    //'rgba(75, 192, 192, 1)',
                    //'rgba(153, 102, 255, 1)',
                    //'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            //responsive: false, 
            //maintainAspectRatio: false,
            plugins: {
              legend: false,
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    labels_grap = [];
    data_grap = [];

    for (var i = 0; i < biblia.length; i++) {
      labels_grap.push(biblia[i]['Nome']);
      data_grap.push(biblia[i]['total']);
    }

    const ctx_biblia = document.getElementById('biblia').getContext('2d');
    const myChart_biblia = new Chart(ctx_biblia, {
        type: 'bar',
        data: {
            labels: labels_grap,
            datasets: [{
                label: 'Quantidade:',
                data: data_grap,
                backgroundColor: [
                    //'rgba(255, 99, 132, 0.2)',
                    //'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'//,
                    //'rgba(75, 192, 192, 0.2)',
                    //'rgba(153, 102, 255, 0.2)',
                    //'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    //'rgba(255, 99, 132, 1)',
                    //'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'//,
                    //'rgba(75, 192, 192, 1)',
                    //'rgba(153, 102, 255, 1)',
                    //'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            //responsive: false, 
            //maintainAspectRatio: false,
            plugins: {
              legend: false,
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    labels_grap = [];
    data_grap = [];

    for (var i = 0; i < musica.length; i++) {
      labels_grap.push(musica[i]['Nome']);
      data_grap.push(musica[i]['total']);
    }

    const ctx_musica = document.getElementById('musica').getContext('2d');
    const myChart_musica = new Chart(ctx_musica, {
        type: 'bar',
        data: {
            labels: labels_grap,
            datasets: [{
                label: 'Quantidade',
                data: data_grap,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'//,
                    //'rgba(54, 162, 235, 0.2)',
                    //'rgba(255, 206, 86, 0.2)',
                    //'rgba(75, 192, 192, 0.2)',
                    //'rgba(153, 102, 255, 0.2)',
                    //'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'//,
                    //'rgba(54, 162, 235, 1)',
                    //'rgba(255, 206, 86, 1)',
                    //'rgba(75, 192, 192, 1)',
                    //'rgba(153, 102, 255, 1)',
                    //'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            //responsive: false, 
            //maintainAspectRatio: false,
            plugins: {
              legend: false,
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    $("#retornar").click(function() {
      location.href = "../eventos"
    });

function alterarAno() {
    var ano = $('#cb_ano').val();
    console.log(ano);

    $.ajax({
        type: "POST",
        url: "{{ url_for('estatisticas') }}",
        contentType: "application/json",
        data: JSON.stringify(ano),
        dataType: "json",
        success: function(response) {
        // recebido a lista com sucesso, é necessário limpar a tabela e reinserir toda a lista
            console.log(response);
            
            labels_grap = []
            data_grap = []

            for (var i = 0; i < response['biblia'].length; i++) {
                labels_grap.push(response['biblia'][i]['Nome']);
                data_grap.push(response['biblia'][i]['total']);
            }            

            myChart_biblia.data.labels = labels_grap;
            myChart_biblia.data.datasets[0].data = data_grap;

            labels_grap = []
            data_grap = []

            for (var i = 0; i < response['harpa'].length; i++) {
                labels_grap.push(response['harpa'][i]['Nome']);
                data_grap.push(response['harpa'][i]['total']);
            }            

            myChart_harpa.data.labels = labels_grap;
            myChart_harpa.data.datasets[0].data = data_grap;

            labels_grap = []
            data_grap = []

            for (var i = 0; i < response['musica'].length; i++) {
                labels_grap.push(response['musica'][i]['Nome']);
                data_grap.push(response['musica'][i]['total']);
            }            

            myChart_musica.data.labels = labels_grap;
            myChart_musica.data.datasets[0].data = data_grap;


            myChart_harpa.update();
            myChart_musica.update();
            myChart_biblia.update();

        },
        error: function(err) {
            console.log(err);
        }
    });
}


    </script>
  </body>
</html>
