<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Abrir Harpa</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      input[readonly].classname {
        background-color:white;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">
    
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/Logo ADCPTA.png') }}" width="25" height="30" class="d-inline-block align-top" alt="">
      Roteiro
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="../abrirbiblia">Abrir Bíblia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Abrir Harpa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../abrirslidemusica">Músicas</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="../apresentador">Apresentador</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="../viewer">Visualizador</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="../obs">OBS</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="../eventos?destino=ver">Eventos</a>
        </li>              
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-1 rounded">
    <h1 class="display-5 text-center">Abrir Slides Hinos da Harpa</h1>
    <p class="lead text-center">Digite o números dos hinos, os separando com um ";" ou pesquise pelo nome no campo abaixo:</p>
    <p class="text-center {{ corstatus }}"><strong>{{ status }}</strong></p>
    <form action="{{ url_for('abrirharpa') }}" method="post" autocomplete="off">
      <div class="row g-3">
          <div class="col-sm-2 col-sm-3">
            <label for="numero" class="form-label">Número do Hino:</label>
            <input type="text" class="form-control numeric" id="numero" name="numero" placeholder="" value="" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 59' required/>
            <div class="invalid-feedback">
              Digite um número válido!
            </div>           
          </div>
        <div class="col-sm-2 align-self-end" style="text-align : center">
          <label for="botao" class="form-label"></label>
          <input type="submit" class="btn btn-md btn-primary" id="abrirSlide" name="abrirSlide" value="Abrir Hino da Harpa">
        </div>
        <div class="col-sm-2 align-self-end">
          {% if noturno == 1 %}
            <input type="checkbox" class="form-check-input" id="noturno" name="noturno" value="1" checked/> 
          {% else %} 
            <input type="checkbox" class="form-check-input" id="noturno" name="noturno" value="1"/>  
          {% endif %}         
          <label class="form-check-label" for="noturno">Modo Noturno</label>
        </div>         
        <div class="col-sm-2 align-self-end">      
          <label for="limpar" class="form-label"></label>
          <input type="button" class="btn btn-md btn-secondary" id="limpar" name="limpar" value="Limpar Tudo">
        </div>   
        <div class="col-sm-2 col-sm-3">
          <label for="numero" class="form-label">Pesquisa:</label>
          <input type="text" class="form-control numeric" id="pesquisa" name="pesquisa" placeholder="" value=""/>
          <div class="invalid-feedback">
            Digite um número válido!
          </div>           
        </div>        
      </div>      
    </form>

    <div class="row g-3">
      <div class="col-sm-12 align-self-end">
        <hr class="my-4"/>
      </div>
    </div>

    <div class="row g-3" >
        <div class="col-sm-4 coluna">
          <ul class="list-group" id="listaHarpa1">
            {% for row in listahinos %}
              <li class="list-group-item border-0">
                <label>
                  <input class="form-check-input me-1" type="checkbox" name="checkHarpa" value="{{ loop.index }}">
                  {{ row[0] }}
                </label>
              </li>

              {% if loop.index == 214 %}
                </ul>
                </div>
                <div class="col-sm-4 coluna">
                <ul class="list-group" id="listaHarpa2">
              {% endif %} 


              {% if loop.index == 428 %}
                </ul>
                </div>
                <div class="col-sm-4">
                <ul class="list-group" id="listaHarpa3">
              {% endif %}               

            {% endfor %}
          </ul>
        </div>
    </div>
  </div>

</main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">

      $('.list-group').change(function() {
        //let text = String($('input[name=checkHarpa]').val());
        let text = String($('input[name="checkHarpa"]:checked').serialize());
        text = text.replace(/checkHarpa=/g, '');
        let array = text.split('&')
  
        for (var i = 0; i < array.length; i++) {
          array[i] = array[i].padStart(3, '0')
        }
        
        let result = array.join(';');
        //console.log(result);
        if (result != "000") {
          $("#numero").val(result);
        } else {
          $("#numero").val("");
        }
      });

      $('#limpar').click(function() {
        $("#numero").val("");
        $("#listaharpa").val("");
        $('input[name="checkHarpa"]:checked').prop("checked", false);
      });

      $("#pesquisa").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          //console.log(value);
          //$(".list-group-item").filter(function() {
          $("#listaHarpa1 li").filter(function() {
            //console.log($(this).find("label").text());
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).find("label").text().toLowerCase().indexOf(value) > -1);
            //console.log($(this).find("label").find("input").data("pasta"))
          });
          $("#listaHarpa2 li").filter(function() {
            //console.log($(this).find("label").text());
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).find("label").text().toLowerCase().indexOf(value) > -1);
            //console.log($(this).find("label").find("input").data("pasta"))
          });          
          $("#listaHarpa3 li").filter(function() {
            //console.log($(this).find("label").text());
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).find("label").text().toLowerCase().indexOf(value) > -1);
            //console.log($(this).find("label").find("input").data("pasta"))
          });  

        $(".coluna").each(function() {
          $(this).toggle($(this).find("li.list-group-item[style!='display: none;']").length > 0) 
        });                
      });

      </script>
  </body>
</html>
