<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Abrir Músicas</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">  
    
    <!-- Extra CSS -->
    <link href="{{ url_for('static', filename='stylesheets/toggle-switch.css') }}" rel="stylesheet">  

    <style>
      ul {
        list-style-type: none;
      }

      .rect {
        min-height:20px;
        padding:19px;
        margin-bottom:20px;
        background-color:#fbfbfb;
        border:1px solid #999;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
      }

      .tree {
          
      }
      .tree li {
          list-style-type:none;
          margin:0;
          padding:10px 5px 0 5px;
          position:relative
      }
      .tree li::before, .tree li::after {
          content:'';
          left:-20px;
          position:absolute;
          right:auto
      }
      .tree li::before {
          border-left:1px solid #999;
          bottom:50px;
          height:100%;
          top:0;
          width:1px
      }
      .tree li::after {
          border-top:1px solid #999;
          height:20px;
          top:25px;
          width:25px
      }
      .tree li span {
          -moz-border-radius:5px;
          -webkit-border-radius:5px;
          border:1px solid #999;
          border-radius:5px;
          display:inline-block;
          padding:4px 8px;
          text-decoration:none;
          height: 38px;
      }
      .tree li.parent_li>span {
          cursor:pointer
      }
      .tree>ul>li::before, .tree>ul>li::after {
          border:0
      }
      .tree li:last-child::before {
          height:30px
      }
      .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
          background:#cfcfcf;
          border:1px solid #94a0b4;
          color:#000000
      }

      .blue {
        background-color: rgb(13, 110, 253); 
        color:white;
      }

      .yellow {
        background-color: rgb(0, 0, 0);
        color:rgb(255, 255, 255);
      }

      .horizontal {
        display: inline; /* the default for span */
        width: auto;
        white-space:nowrap;
        /*height: 100px;*/
        /*padding: 2px;*/
        /*border: 1px solid rgb(34, 34, 34);  */
        background-color: rgb(33, 37, 41); 
        color:rgb(255, 255, 255);
        margin: 0px 0px 10px 10px;
        font-weight: bold;
        border-radius: 15px
      }

      .horizontalactive {
        background-color: rgb(248, 249, 250); 
        color:rgb(0, 0, 0);  
        border: 1px solid rgb(34, 34, 34);     
      }

      .Forte {
        background-color: rgb(115, 249, 139);
        border-radius: 15px;
        padding: 2%;
      }

      .Médio {
        background-color: rgb(250, 191, 135);
        border-radius: 15px;
        padding: 2%;
      }

      .Fraco {
        background-color: rgb(249, 159, 237);
        border-radius: 15px;
        padding: 2%;
      }

      .text {
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        padding: 2%;
        margin-top: 10px;
      }

      .bold {
        font-weight: bold;
      }

      .titulo {
        color:rgb(133, 0, 0)
      }

      .comentarios {
        background-color: rgb(228, 249, 39);
        border-radius: 15px;
        padding: 2%;        
      }

      .user {
        font-style: italic;
      }

      .erro_coment {
        color:red;
        font-weight: bold;
        text-align: center;
      }

    .sucess-msg {
        color:blue;
        font-weight: bold;
        text-align: center;      
    }

    #lista_geral a.toggled { display: none; }

    #lista_geral a.toggled-vinc { display: none; }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">

    <div class="modal fade" id="form_add_coment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Comentário</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="form_add_comentario">
            <div class="modal-body">
              <div id="titulo_musica_addcoment" class="title" data-id="0"></div><br>
                <input type="text" class="form-control" id="nome_addcoment" name="nome_addcoment" placeholder="Digite seu nome:" value="" maxlength="30" required/>
                <div>&nbsp;</div>
                <textarea class="form-control" id="text_addcoment" rows="9" placeholder="Digite seu comentário:" maxlength="500" required></textarea>
                <div id="limite_char_coment" class="fw-lighter">0/500 de caracteres.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <input type="submit" value="Salvar Comentário" class="btn btn-primary" data-bs-dismiss="modal"/>
            </div>
            <div class="erro_coment"></div>
          </form>
        </div>
      </div>
    </div>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/Logo ADCPTA.png') }}" width="25" height="30" class="d-inline-block align-top" alt="">
      Roteiro
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="../abrirbiblia">Abrir Bíblia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../abrirharpa">Abrir Harpa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  href="#">Músicas</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="../apresentador">Apresentador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../viewer">Visualizador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../obs">OBS</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="../eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../download_mp3">YouTube - MP3</a>
        </li>         
        <li class="nav-item">
          <a class="nav-link" href="../sobre">Sobre</a>
        </li>                        
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-1 rounded">
    <h1 class="display-5 text-center">Repertório musical da Igreja</h1>
    <p class="lead text-center">Você pode consultar a lista geral e usar os filtros de pesquisa que inclui os vínculos e um campo para digitação.</p>
    <p class="text-center {{ corstatus }}"><strong>{{ status }}</strong></p>

    <div class="row rect" id="vinculos">
      <div class="col-sm-6">

        <div class="tree well">
            <ul>
                <li>
                    <span class="blue first_click">Filtro de Vínculos</span> <button id="btn-limparFiltro" class="btn btn-secondary">Limpar Filtro</button>
                    <ul id="first_vinculo" hidden>
                        <li>
                          <label class="bold"><input class="form-check-input me-1" type="checkbox" id="habilitar_vinculo_fraco">Exibir Vínculos Fracos</label>
                        </li>
                        <li>
                          <span class="yellow">Ministério de Louvor</span> <a href="#">Selecionar Todos</a>

                          {% for item in cat1 %}
                            <ul>
                                <li><label><input class="form-check-input me-1 filtro-vinculo-check" type="checkbox" name="checkEL" value="{{item['id']}}">{{item['descricao']}}</label></li>
                            </ul>
                          {% endfor %}

                        </li>

                        <li>
                          <span class="yellow">Jovens e Adolescentes</span> <a href="#">Selecionar Todos</a>

                          {% for item in cat2 %}
                            <ul>
                                <li><label><input class="form-check-input me-1 filtro-vinculo-check" type="checkbox" name="checkEL" value="{{item['id']}}">{{item['descricao']}}</label></li>
                            </ul>
                          {% endfor %}

                        </li>      

                        <li>
                          <span class="yellow">Departamentos</span> <a href="#">Selecionar Todos</a>

                          {% for item in cat3 %}
                            <ul>
                                <li><label><input class="form-check-input me-1 filtro-vinculo-check" type="checkbox" name="checkEL" value="{{item['id']}}">{{item['descricao']}}</label></li>
                            </ul>
                          {% endfor %}

                        </li>   

                        <li>
                          <span class="yellow">Avulsos</span> <a href="#">Selecionar Todos</a>

                          {% for item in cat4 %}
                            <ul>
                                <li><label><input class="form-check-input me-1" type="checkbox" name="checkEL" value="{{item['id']}}">{{item['descricao']}}</label></li>
                            </ul>
                          {% endfor %}

                        </li>                                                                 
                    </ul>
                </li>
            </ul>
        </div>

      </div>

      <div class="col-sm-6">
      
        <div class="tree">
          <label for="pesquisa" class="form-label">Pesquisa:</label>
          <input type="text" class="form-control numeric" id="pesquisa" name="pesquisa" placeholder="" value=""/>
        </div>
      
      </div>

    </div>

    <div id="items_selected" class="row">
      
    </div>

    <div class="row">
      <div class="col-sm-12">
      {{ msg|safe }}
        <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Slides abertos com sucesso!</strong> You should check in on some of those fields below.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> -->
      </div>
    </div>

    <form id="form_openmusicas" action="{{ url_for('abrirNewMusica') }}" method="post" autocomplete="off">
      <div class="row">
        <div class="col-sm-2"><input id="btn-abrirSlide" class="btn btn-primary" type="submit" value="Abrir Slide(s)" disabled></div>
        <div class="col-sm-2">
          <label class="a8z-toggle-switch" for="example_colors_7" data-size="lg" data-style="rounded" data-color="gray" style="--a8z-ts-input-checked-content:'Modo Escuro'; --a8z-ts-input-unchecked-content: 'Modo Claro'; --a8z-ts-width: 150px;">
            <input checked name="modo_cor" type="checkbox" id="example_colors_7">
            <span class="toggle">
              <span class="switch"></span>
            </span>
          </label>        
        </div>
        <div>&nbsp;</div>
      </div>
      <input type="hidden" id="lista-ids-musicas" name="lista-ids-musicas" val="">
    </form>

    <div class="row rect">
    
      <div class="col-sm-6">
        <h2>Lista Geral</h2>
        <div id="lista_geral" class="list-group">
          {% for item in musicas %}
            <a href="#vinculos" class="list-group-item list-group-item-action" data-id="{{item['id']}}" data-vincforte="{{item['vinc_forte']}}" data-vincfraco="{{item['vinc_fraco']}}">
              {{item['nome_arquivo'][:-5]}}
            </a>
          {% endfor %}
        </div>
      </div>

      <div id="infos" class="col-sm-6">
        <h4>Informações: <span id="nome_musica" class="titulo"></span></h4>
        <div class="info_inicial">
          <span>Selecione uma música antes.</span>
        </div>
      </div>
    
    </div>

  </div>
</main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>

          $('#form_openmusicas').on('submit', function (e) {
            //e.preventDefault();
            var lista_id = '';
            $('.horizontal').filter(function () {
              lista_id = lista_id + $(this).attr('data-id') + ', ';
            });
            $("#lista-ids-musicas").val(lista_id.slice(0, -2));
            //$(this).trigger( "submit" );
          });

          $('#btn-limparFiltro').click(function (e) {
            $('#pesquisa').val("");
            $("#lista_geral a").removeClass('toggled');

            $('.form-check-input').each(function() { this.checked = false; });
            $("#lista_geral a").removeClass('toggled-vinc');
          }); 

          $(document).on('click', '.horizontal-text', function(e) {

            $('.horizontal').removeClass('horizontalactive');
            $('.dispose').removeClass('btn-light');
            $('.dispose').addClass('btn-dark');

            $(this).parent().find('button').addClass('btn-light');
            $(this).parent().find('button').removeClass('btn-dark');
            $(this).parent().addClass('horizontalactive');

            var id = $(this).parent().attr('data-id');
            showInfoMusica(id);
          });

          $('.form-check-input').on('change', function (e) {
            lista = []
            $('.filtro-vinculo-check:checked').filter(function(index) {
              lista.push($(this).val())
            });
            
            if (lista.length > 0) {
              $("#lista_geral a").toggleClass('toggled-vinc', true);

              if ($('#habilitar_vinculo_fraco').is(':checked')) {
                for (var i in lista) {
                  $("#lista_geral a").filter(function () {
                    if ($(this).attr('data-vincforte').indexOf('[' + lista[i] + ']') > -1 || $(this).attr('data-vincfraco').indexOf('[' + lista[i] + ']') > -1) {
                      $(this).removeClass('toggled-vinc');
                    }
                  });
                }
              } else {
                for (var i in lista) {
                  $("#lista_geral a").filter(function () {
                    if ($(this).attr('data-vincforte').indexOf('[' + lista[i] + ']') > -1) {
                      $(this).removeClass('toggled-vinc');
                    }
                  });
                }
              }
            } else {
              $("#lista_geral a").removeClass('toggled-vinc');
            }

          });

          $('#pesquisa').on('keyup', function (e) {
            var value = $(this).val().toLowerCase();
            $("#lista_geral a").toggleClass('toggled', true);
            $("#lista_geral a").filter(function() {
              if ($(this).text().toLowerCase().indexOf(value) > -1) {
                $(this).removeClass('toggled');
              }
              //console.log($(this).find("label").find("input").data("pasta"))
            });
          });

          function removeClassSelected() {
            if ($('.horizontal').length < 1) {
              $('#items_selected').removeClass('rect');
              $('#btn-abrirSlide').attr("disabled", '');
            }
          }

          $("#form_add_coment").on("hidden.bs.modal", function () {
              $("#nome_addcoment").val("");
              $("#text_addcoment").val("");
              $("#limite_char_coment").text("0/500 de caracteres.");
              $(".erro_coment").html("");
          });

          $('#form_add_comentario').on('submit', function (e) {
            e.preventDefault();
            comentario = {'id-musica':$('#titulo_musica_addcoment').attr('data-id'), 'user':$("#nome_addcoment").val(), 'comentario':$('#text_addcoment').val()};

              $.ajax({
                type: "POST",
                url: "{{ url_for('addComent') }}",
                contentType: "application/json",
                data: JSON.stringify(comentario),
                dataType: "json",
                success: function(response) {
                  //console.log(response);
                  if (response) {
                    $(".sucess-msg").html('<div>Comentário adicionado com sucesso!</div><div>&nbsp;</div>');
                    $('#conteudo-comentarios').prepend('<div class="coment"><div class="user">' + comentario['user'] + ' disse AGORA:</div><div class="text-coment">' + comentario['comentario'] + '</div></div><div class="blank_space">&nbsp;</div>');
                  } else {
                    $(".erro_coment").html('<div>Falha ao tentar salvar comentário! Avise o Giuseppe.</div><div>&nbsp;</div>');
                  }
                },
                error: function(err) {
                  console.log(err);
                }
              });  

          });

          $('#text_addcoment').on('keyup change', function (e) {
            var tamanho = $("#text_addcoment").val().length;
            $('#limite_char_coment').text(tamanho + '/500 de caracteres.');
          });

          $(document).on('click', '#add_coment', function(e) {
            $('#titulo_musica_addcoment').html('<span class="bold">Música: </span>' + $('#nome_musica').text());
            $('#form_add_coment').modal('show');
          });

          $(document).on('click', '.dispose', function(e) {
            $('a[data-id="' + $(this).parent().parent().attr('data-id') + '"]').removeClass('active');
            $(this).parent().parent().remove();
            removeClassSelected();
          });

          $('a.list-group-item').on('click', function (e) {

            if ($(this).hasClass('active')) {
              $(this).removeClass('active');
              $('div[data-id="' + $(this).attr('data-id') + '"]').remove();
              removeClassSelected();
            } else {
              $('#btn-abrirSlide').removeAttr('disabled');
              $('.horizontal').removeClass('horizontalactive');
              $('.dispose').removeClass('btn-light');
              $('.dispose').addClass('btn-dark');
              $(this).addClass('active');
              $('#items_selected').addClass('rect');
              $('#items_selected').append('<div data-id="' + $(this).attr('data-id') + '" class="horizontal"><span class="horizontal-text">' + $(this).text() + '</span><span><button class="btn btn-dark dispose">X</button></span></div>');

              // consultar informações
              var id = $(this).attr('data-id');
              showInfoMusica(id);
            }
          });

          function showInfoMusica(id) {
              $('#titulo_musica_addcoment').attr('data-id', id);
              $.ajax({
                type: "POST",
                url: "{{ url_for('getInfoMusica') }}",
                contentType: "application/json",
                data: JSON.stringify(id),
                dataType: "json",
                success: function(response) {
                  //console.log(response);
                  $('.info_inicial').remove();
                  $('.Forte').remove();
                  $('.Médio').remove();
                  $('.Fraco').remove();
                  $('.blank_space').remove();
                  $('.comentarios').remove();
                  $('.sucess-msg').remove();
                  $('#nome_musica').text(response['info'][9].substring(0, response['info'][9].length - 5));
                  $("#infos").append('<div class="' + response['info'][1] + '"><div><strong>Vínculo 1: </strong>' + response['info'][0] + ' - ' + response['info'][10] + '</div><div><strong>Status: </strong>' + response['info'][1] + '</div><div class="text">' + response['info'][2] + '</div></div>')
                  
                  if (response['info'][3] != null) {
                      $("#infos").append('<div class="blank_space">&nbsp;</div>')
                      $("#infos").append('<div class="' + response['info'][4] + '"><div><strong>Vínculo 2: </strong>' + response['info'][3] + ' - ' + response['info'][11] + '</div><div><strong>Status: </strong>' + response['info'][4] + '</div><div class="text">' + response['info'][5] + '</div></div>')
                  
                      if (response['info'][6] != null) {
                        $("#infos").append('<div class="blank_space">&nbsp;</div>')
                        $("#infos").append('<div class="' + response['info'][7] + '"><div><strong>Vínculo 3: </strong>' + response['info'][6] + ' - ' + response['info'][12] + '</div><div><strong>Status: </strong>' + response['info'][7] + '</div><div class="text">' + response['info'][8] + '</div></div>')                        
                      }
                  }

                  $("#infos").append('<div class="blank_space">&nbsp;</div>');
                  $("#infos").append('<div class="sucess-msg"></div>');
                  $("#infos").append('<div class="comentarios"><div class="bold">Comentários:</div><div id="conteudo-comentarios"></div></div>');
                  for (var item in response['comentarios']) {
                    $('#conteudo-comentarios').append('<div class="coment"><div class="user">' + response['comentarios'][item]['user'] + ' disse em ' + response['comentarios'][item]['data'] + ':</div><div class="text-coment">' + response['comentarios'][item]['comentario'] + '</div></div>');
                    $("#conteudo-comentarios").append('<div class="blank_space">&nbsp;</div>')
                  }
                  $("#conteudo-comentarios").append('<button id="add_coment" class="btn btn-warning">Adicionar Comentário</button>');

                },
                error: function(err) {
                  console.log(err);
                }
              }); 
          }
      //$(".hidden").hide('fast');

          $('.first_click').on('click', function (e) {

            if ($(this).hasClass('first_click')) {

              $('#first_vinculo').removeAttr('hidden');
              $(this).removeClass('first_click');
              $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Fechar');       


              $('.tree li.parent_li > span').on('click', function (e) {
                  console.log('yes');
                  var children = $(this).parent('li.parent_li').find(' > ul > li');
                  if (children.is(":visible")) {
                      children.hide('fast');
                      $(this).attr('title', 'Expandir').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                  } else {
                      children.show('fast');
                      $(this).attr('title', 'Fechar').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                  }
                  e.stopPropagation();
              });  

            }            

          });

      </script>
  </body>
</html>
