<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Visualizar Músicas</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .menu-title {
        padding: 5px 10px;
        font-weight: bold;
      }
      .numeracao {
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        vertical-align: middle;
      }

      .titulo {
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
      }

      .highlight {
        background-color: yellow;
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">
    
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/Logo ADCPTA.png') }}" width="25" height="30" class="d-inline-block align-top" alt="">
      Roteiro
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <a href="#" class="nav-item">
          <a class="nav-link" href="../abrirbiblia">Abrir Bíblia</a>
        </a>
        <a href="#" class="nav-item">
          <a class="nav-link " href="../abrirharpa">Abrir Harpa</a>
        </a>
        <a href="#" class="nav-item">
          <a class="nav-link" href="../abrirslidemusica">Músicas</a>
        </a>   
        <a href="#" class="nav-item">
          <a class="nav-link" href="../apresentador">Apresentador</a>
        </a>
        <a href="#" class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Visualizador</a>
        </a>
        <a href="#" class="nav-item">
          <a class="nav-link" href="../obs">OBS</a>
        </a>  
        <a href="#" class="nav-item">
          <a class="nav-link" href="../eventos?destino=ver">Eventos</a>
        </a>                 
      </ul>
    </div>
  </div>
</nav>

<main class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="heading">Selecione o que deseja visualizar:</div>
            <div class="dropdown">
              <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="width:100%">Músicas</button>
              <ul class="dropdown-menu" id="categoria" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{{url_for('receberView', voltar='Biblia')}}">Bíblia</a></li>
                <li><a class="dropdown-item" href="{{url_for('receberView', destino='harpa', pag=1)}}">Harpa</a></li>
              </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="bg-light p-1 rounded">
                <h1 class="display-5 text-center">Visualizar Músicas</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <label for="livro" class="form-label">Selecione a pasta da música:</label>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:100%">{{categoria[0]}}</button>
          <ul class="dropdown-menu" id="livro" aria-labelledby="dropdownMenuButton1">
            <li class="menu-title">Corinhos, Equipe de Louvor, etc</li>
            <li><a id="avu" class="dropdown-item categoria" href="javascript:alterarCategoria('Avulsos', 'Avulsos.pdf', 'avu', 1)">Avulsos</a></li>
            <li><a id="cong" class="dropdown-item categoria" href="javascript:alterarCategoria('Congregacionais', 'Congregacionais.pdf', 'cong', 1)">Congregacionais</a></li>
            <li><a id="eql" class="dropdown-item categoria" href="javascript:alterarCategoria('Equipe de Louvor','Equipe de louvor.pdf', 'eql', 1)">Equipe de Louvor</a></li>
            <li><a id="maeql" class="dropdown-item categoria" href="javascript:alterarCategoria('Músicas Antigas da Equipe de Louvor','Músicas Antigas da Equipe de Louvor.pdf', 'maeql', 1)">Músicas Antigas da Equipe de Louvor</a></li>
            <li><a id="retiro" class="dropdown-item categoria" href="javascript:alterarCategoria('Músicas Antigas de Retiros','Músicas Antigas de Retiros.pdf', 'retiro', 1)">Músicas Antigas de Retiros</a></li>
            <li class="menu-title">Departamentos</li>
            <li><a id="adol" class="dropdown-item categoria" href="javascript:alterarCategoria('Adolescentes','Adolescentes.pdf', 'adol', 1)">Adolescentes</a></li>
            <li><a id="kids" class="dropdown-item categoria" href="javascript:alterarCategoria('Crianças','Crianças.pdf', 'kids', 1)">Crianças</a></li>
            <li><a id="newg" class="dropdown-item categoria" href="javascript:alterarCategoria('Nova Geração','Nova Geração.pdf', 'newg', 1)">Nova Geração</a></li>
            <li><a id="orc" class="dropdown-item categoria" href="javascript:alterarCategoria('Orquestra','Orquestra.pdf', 'orc', 1)">Orquestra</a></li>
            <li><a id="umadecap" class="dropdown-item categoria" href="javascript:alterarCategoria('UMADECAP','UMADECAP.pdf', 'umadecap', 1)">UMADECAP</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7">
        <form id="enviarPesquisa" action="{{url_for('receberView', destino='musicas')}}" method="post" > 
          <label for="pesquisa" class="form-label">Pesquisa por texto:</label>
          <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="" value="{{pesquisa}}" autocomplete="off" required/>
          <div class="invalid-feedback">
            Por favor preencha o campo.
          </div>          
        </div>
        <div class="col-sm-1 align-self-end">
          <input type="submit" class="btn btn-primary" value="Pesquisar"> 
        </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div id="principal" class="col-sm-12">
        <br>
        {% if resultados == None %}
        <iframe id="iframepdf" src="{{ url_for('static', filename='docs/' + categoria[1]) }}#view=FitH" width="100%" height="800x"></iframe>      
        {% else %}
        <div id="headPesquisa" class="row">
          <div class="col-sm-10"><h1 class="text-danger">{{mensagem|safe}}</h1></div>
          <div class="col-sm-2"><button class="btn btn-danger" type="button" id="sairPesquisa" style="width:100%">Sair da Pesquisa</button></div>
        </div>
          {% if total > 0 %}
          <div id="corpoTabela" class="row">
            <table class="table table-striped table-hover" id="tabelaPesquisa">
              <thead class="table-dark">
                <tr>
                  <th>Pasta</th>
                  <th>Página</th>
                  <th>Texto</th>
                </tr>
              </thead>
              <tbody>
                {% for row in resultados %}
                <tr>
                  <td class="titulo">{{row['arquivo'][:-4]}}<br><a href="javascript:abrirPDF('{{row['arquivo']}}', {{row['pag']}})">Visualizar</a></td>
                  <td class="numeracao">{{row['pag']}}</td>
                  <td class="texto">{{row['texto']}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    
</main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/pdf.min.js') }}"></script> -->
    <script type="text/javascript">
      $('#{{categoria[2]}}').addClass('disabled');

      // verificar se tem resultados de consulta
      pesquisa = JSON.parse('{{pesquisa|tojson}}');
      pesquisa = pesquisa.trimStart().trimEnd();
      
      if (pesquisa != '') {
        $('#dropdownMenuButton1').addClass('disabled');
        const palavras = pesquisa.split(' ');
        // vai ter que dar um jeito de pegar cada célula da tabela e realçar o texto
        $('#tabelaPesquisa tbody tr td.texto').each(function() {
          var texto = $(this).text();
          index = 0;
          for (var i = 0; i < palavras.length; i++) {
            //console.log(palavras[i]);
            if (i > 0) {
              var index = texto.toLowerCase().indexOf(palavras[i].toLowerCase(), index + 31 + palavras[i - 1].length);
            } else {
              var index = texto.toLowerCase().indexOf(palavras[i].toLowerCase());
            }
            if (index > -1) {
              //console.log(texto);
              texto = texto.substring(0, index) + '<span class="highlight">' + texto.substring(index, index + palavras[i].length) + "</span>" + texto.substring(index + palavras[i].length);
              //index = texto.toLowerCase().indexOf(palavras[i].toLowerCase(), index + 31 + palavras[i].length);
              //var parser = new DOMParser();
              //var doc = parser.parseFromString(texto, 'text/html');
            }
          }
          $(this).html(texto);
        });
      }

      function abrirPDF(nome, pag) {
        var name = nome.substring(0, nome.length - 4);
        var pdf = nome;
        var id = $('a:contains(' + name + ')').attr('id');

        $('#dropdownMenuButton1').removeClass('disabled');
        $('#headPesquisa').remove();
        $('#corpoTabela').remove();
        $('#pesquisa').val('');
        $('#principal').append('<iframe id="iframepdf" src="" width="100%" height="800x"></iframe>');
        alterarCategoria(name, pdf, id, pag);
      }

      $('#sairPesquisa').click(function() {
        location.replace("{{url_for('receberView')}}");
      });

      $('#enviarPesquisa').submit(function() {
        $('#iframepdf').attr("src", "../loading");
      });

      function alterarCategoria(nome, pdf, id, pag) {
        $('#dropdownMenuButton1').text(nome);
        atributo = "/static/docs/" + pdf + "#view=FitH&page=" + pag;
        $('#iframepdf').attr("src", atributo);
        
        $('a.categoria').each(function() {
          $(this).removeClass('disabled');
        });

        $('#' + id).addClass('disabled');

        // mandar pro server a alteração da categoria
        var dict = {};
        dict.nome = nome
        dict.pdf = pdf
        dict.id = id
        $.ajax({
          type: "POST",
          url: "{{ url_for('alterarConfigExternamente') }}",
          contentType: "application/json",
          data: JSON.stringify(dict),
          dataType: "json",
          success: function(response) {
            if (response.sucess) {
              //location.reload();
              //location.replace("{{ url_for('index') }}");
            }
            //location.reload();
          },
          error: function(err) {
            console.log(err);
          }
        });        
      }
    </script>
  </body>
</html>
