<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Registro de Eventos</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/tui-pagination.css') }}" rel="stylesheet">

    <style>
      th {
        vertical-align: middle;
      }
      .heading {
        font-weight: bold;
      }
      #imgpos {
        position: absolute;
        width: 100px;
        height: 110px;
        padding: 10px;
    	}
    </style>
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/Logo ADCPTA.png') }}" width="25" height="30" class="d-inline-block align-top" alt="">
      Roteiro
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="../abrirbiblia">Abrir Bíblia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../abrirharpa">Abrir Harpa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  href="../abrirslidemusica">Músicas</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="../apresentador">Apresentador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../viewer">Visualizador</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="../obs">OBS</a>
        </li>           
        <li class="nav-item">
          <a class="nav-link active" href="#">Eventos</a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="../download_mp3">YouTube - MP3</a>
        </li>         
        <li class="nav-item">
          <a class="nav-link" href="../sobre">Sobre</a>
        </li>        
      </ul>                 
      </ul>
    </div>
  </div>
</nav>


  <h1 class="display-5 text-center">Registro de Eventos</h1>
  <form id="enviarPag" name="enviarPag" method="POST" action="{{ url_for('eventos') }}">
    <input type="hidden" id="novaPag" name="novaPag" value="1">
  </form>
  <main class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="text-align: right;">
        <span><div id="pagination" class="tui-pagination"></div></span><span><p class="text-secondary" style="text-align: center;">Exibindo {{lista|length}} itens por página.</p></span>
      </div>
    </div>
    <form id="enviarFiltro" name="enviarFiltro" method="POST" action="{{ url_for('eventos') }}">
      <div class="row">
        <div class="col-sm-3">
          <label for="nome" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="nome" name="nome" value="{{origem['nome']}}">
        </div>
        <div class="col-sm-2">
          <label for="datade" class="form-label">De:</label>
          <input type="date" class="form-control" id="datade" name="datade" value="{{datas[1]}}">
        </div>
        <div class="col-sm-2">
          <label for="dataate" class="form-label">Até:</label>
          <input type="date" class="form-control" id="dataate" name="dataate" value="{{datas[0]}}">        
        </div>       
        <div class="col-sm-3">
          <label for="evento" class="form-label">Tipo de Evento:</label>
          <select name="evento" id="evento" class="form-select" aria-label="Default select example">
            <option value="0">Selecione...</option>
            {% for row in temas %}
            {% if row['id']|int == origem['evento']|int %}
            <option value="{{row['id']}}" selected>{{row['descricao']}}</option>
            {% else %}
            <option value="{{row['id']}}">{{row['descricao']}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div> 
        <div class="col-sm-2">
          <label for="atividade" class="form-label">Tipo de Atividade:</label>
          <select name="atividade" id="atividade" class="form-select" aria-label="Default select example">
            <option value="0">Selecione...</option>
            {% for row in atividades %}
            {% if row['id']|int == origem['atividade']|int %}
            <option value="{{row['id']}}" selected>{{row['descricao']}}</option>
            {% else %}
            <option value="{{row['id']}}">{{row['descricao']}}</option>
            {% endif %}
            {% endfor %}            
          </select>
        </div>  
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="categoria" class="form-label">Tipo de Leitura Bíblica:</label>
          <select name="categoria" id="categoria" class="form-select" aria-label="Default select example">
            <option value="0">Selecione...</option>
            {% for row in catBiblia %}
            {% if row['id']|int == origem['categoria']|int %}
            <option value="{{row['id']}}" selected>{{row['descricao']}}</option>
            {% else %}
            <option value="{{row['id']}}">{{row['descricao']}}</option>
            {% endif %}
            {% endfor %}              
          </select>
        </div> 
        <div class="col-sm-2">
          <label for="departamento" class="form-label">Departamento:</label>
          <select name="departamento" id="departamento" class="form-select" aria-label="Default select example">
            <option value="0">Selecione...</option>
            {% for row in departamentos %}
            {% if row['id']|int == origem['departamento']|int %}
            <option value="{{row['id']}}" selected>{{row['descricao']}}</option>
            {% else %}
            <option value="{{row['id']}}">{{row['descricao']}}</option>
            {% endif %}
            {% endfor %}               
          </select>
        </div>                             
        <div class="col-sm-2">
          <label for="musica" class="form-label">Tipo Musical:</label>
          <select name="musica" id="musica" class="form-select" aria-label="Default select example">
            <option value="0">Selecione...</option>
            {% for row in musical %}
            {% if row['id']|int == origem['musica']|int %}
            <option value="{{row['id']}}" selected>{{row['descricao']}}</option>
            {% else %}
            <option value="{{row['id']}}">{{row['descricao']}}</option>
            {% endif %}
            {% endfor %}             
          </select>
        </div>
        <div class="col-sm-1 align-self-end">
          <label for="botao" class="form-label"></label>
          <input type="submit" class="btn btn-md btn-primary" id="botao" name="botao" value="Pesquisar">
        </div> 
        <div class="col-sm-1 align-self-end">
          <button type="button" id="estatisticas" class="btn btn-md btn-danger">Estatísticas</button>
        </div>        
        <div class="col-sm-1 align-self-end">
          <button type="button" id="novo" class="btn btn-md btn-secondary">Novo</button>
        </div>        
        <div class="col-sm-2 align-self-end">
          <h4 class="heading">Total: <span class="text-danger">{{total}} </span> <span class="text-primary">(Pg. {{pagina}})</span></h4>
        </div>
      </div>
      <input type="hidden" id="novaPagPesquisa" name="novaPagPesquisa" value="1">
    </form>
    <br>
    {% if origem['pesquisa'] %}
      <div class="row">
        <div class="col-sm-12">
          <button type="button" id="sairPesquisa" class="btn btn-md btn-secondary">Sair da Pesquisa...</button>
        </div>
      </div>
      <br>
    {% endif %}
    <div class="row">
    <div class="col-sm-12">
    <table class="table table-hover">
    {% for culto in lista %}
    <thead class="table-dark head">
      <tr>
        <th scope="col">{{culto['data']}} - {{culto['semanal']}}</th>
        <th scope="col">{{culto['descricao']}}</th>
        {% if culto['obs'] != None %}
        <th scope="col">{{culto['obs']}}</th>
        {% else %}
        <th scope="col">-</th>
        {% endif %}
        <th scope="col" style="text-align: center"><a class="youtube" href="{{culto['url']}}" target="_blank"><img alt="Abrir vídeo" src="{{ url_for('static', filename='images/play.png') }}" width="50" height="30"></a></th>
      </tr>
    </thead>
    <tbody data="{{culto}}">

    {% for evento in culto['eventos'] %}
    <tr>
      {% for i in evento %}
      <td>{{i}}</td>
      {% endfor %}
      {% if evento|length < 4 %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
    <tr><td colspan="4"></td></tr>
    </tbody>
    {% endfor %}
    </table>
    </div>
    </div>
  </main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <!-- <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tui-pagination.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/md5.js') }}"></script>
    <script type="text/javascript">

      var pagination = new tui.Pagination('pagination', {
          totalItems: {{total}},
          itemsPerPage: {{perPage}},
          visiblePages: 5,
          page: {{pagina}}
      });

      pagination.on('beforeMove', function(eventData) {
        var origem = {{origem|tojson}}
        if (!origem['pesquisa']) {
          $('#novaPag').val(eventData.page);
          $('#enviarPag').submit();
        } else {
          $('#novaPagPesquisa').val(eventData.page);
          $('#enviarFiltro').submit();
        }
      });  

      $("#estatisticas").click(function(evt) {
        evt.preventDefault();
        console.log('affs')
        location.href = "../estatisticas"
      });

      $("#sairPesquisa").click(function(evt) {
          location.href = "../eventos";
      });

      $('#novo').click(function(evt) {
        var senha = CryptoJS.MD5(prompt('Digite a senha:')).toString();
        if (senha == 'f744deb599586656f42823afe88d744e') {
          location.href = "../novo_evento";
        }
      });
      
    </script>
  </body>
</html>
