<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Abrir Músicas</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      input[readonly].classname {
        background-color:white;
      }
      div.filter-option {
        max-height: 700px !important;
        overflow-y: auto;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">
    
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/Logo ADCPTA.png') }}" width="25" height="30" class="d-inline-block align-top" alt="">
      Roteiro
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="../abrirbiblia">Abrir Bíblia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../abrirharpa">Abrir Harpa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  href="#">Músicas</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="../apresentador">Apresentador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../viewer">Visualizador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../obs">OBS</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" href="../eventos">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">YouTube - MP3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../sobre">Sobre</a>
        </li>                        
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-1 rounded">
    <h1 class="display-5 text-center">Download Youtube MP3</h1>
    <p class="lead text-center">Digite a URL do vídeo quer será baixado e convertido em MP3.</p>
    <p class="text-center text-danger"><strong>{{msg}}</strong></p>
    <form action="{{ url_for('download_mp3') }}" method="post" autocomplete="off">
      <div class="row">
        <div class="col-sm-10">
          <input class="form-control" id="url" name="url" type="text" placeholder="Digite a URL..." required>
        </div>
        <div class="col-sm-2">
          <input class="form-control btn btn-primary" id="baixar" type="submit" value="Baixar">
        </div>
      </div>
    </form>

  </div>
</main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
      $('#baixar').onclick(function() {
        console.log('baixar');
      });
    </script>
  </body>
</html>
