<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Download Playback YouTube</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      input[readonly].classname {
        background-color:white;
      }
      div.filter-option {
        max-height: 700px !important;
        overflow-y: auto;
      }
      .titulo {
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          visibility: hidden;
      }
      .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          visibility: hidden;
      }      
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/navbar-top-fixed.css') }}" rel="stylesheet">   
    {% include 'font-awesome.html' %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Logo Colorido.png') }}">
  </head>
  
  <body style="background-color: rgba(248, 249, 250, 0.726);">
    
  {% include 'menu.html' %}

<main class="container">
  <div class="bg-light p-1 rounded">
    <h1 class="display-5 text-center">Download Youtube MP3</h1>
    <p class="lead text-center">Esse módulo foi feito para baixar Playbacks com mais facilidade, só digita a URL do vídeo do YouTube e clique em "Baixar".</p>
    <p class="text-center text-danger"><strong id="erro">{{msg}}</strong></p>
    <p class="text-center text-primary"><strong id="final"></strong></p>
    <form action="{{ url_for('download_mp3') }}" method="post" autocomplete="off" id="baixar">
      <div class="row">
        <div class="col-sm-8">
          <input class="form-control" id="url" name="url" type="text" placeholder="Digite a URL..." required>
        </div>
        <div class="col-sm-2">
          <select class="form-control" id="opcao" name="opcao">

            <option value="1">MP3 - Áudio</option>
            <option value="2">MP4 - Vídeo</option>

          </select>
        </div>
        <div class="col-sm-2">
          <input class="form-control btn btn-primary" type="submit" value="Baixar" id="botao">
        </div>
      </div>
    </form>
    <div class="row">
      <div id="loading" class="col-sm-12">
        <img class="center" src="../static/images/loading.gif" class="d-inline-block align-top" alt="">
        <h1 class="titulo">Por favor aguarde...</h1>
      </div>
    </div>
  </div>
</main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
      $('#baixar').submit(function() {
        $('.titulo').css("visibility", "visible")
        $('.center').css("visibility", "visible")
        $('#final').html("");
        $('#erro').html("");
        $('#url').prop("readonly", true);
        $('#botao').prop("disabled", true);
        $('#botao').val('Aguarde...');

        interval = setInterval(function() {
        // AJAX send request
        $.ajax({
          type: "POST",
          url: "{{ url_for('pegarProgressoDownload') }}",
          contentType: "application/json",
          dataType: "json",
          success: function(response) {
            if (response == 'Encerrado...') {
              $('.titulo').css("visibility", "hidden")
              $('.titulo').html('Por favor aguarde...');
              $('.center').css("visibility", "hidden")
              $('#url').prop("readonly", false);
              $('#botao').prop("disabled", false);
              $('#botao').val('Baixar');          
              $('#final').html("Arquivo baixado com sucesso!");
              clearInterval(interval);
            } else {
              $('.titulo').html(response);
            }
          },
        });
        }, 500);

      });

    </script>
  </body>
</html>
